.venv/
env/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

SAT_Engine_v5/build/

build/

dist/

*.obj

*.lib

*.exp

*.dll

*.so

*.pyd

SAT_Engine_v5/build/

build/

dist/

*.obj

*.lib

*.exp

*.dll

*.so

*.pyd
